<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585698451422-gm59jo66uhf3cma1q0k8pf9di5eepq2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585698451422-gm59jo66uhf3cma1q0k8pf9di5eepq2p</string>
	<key>API_KEY</key>
	<string>AIzaSyCS_WCm4TYie9Vgi5YuAmrnm-M44AiY3kY</string>
	<key>GCM_SENDER_ID</key>
	<string>585698451422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cornerstonebillings.abide</string>
	<key>PROJECT_ID</key>
	<string>abide-f6023</string>
	<key>STORAGE_BUCKET</key>
	<string>abide-f6023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585698451422:ios:887c661f597bd42c9b874f</string>
</dict>
</plist>